/* Global styles */

h2 {
    padding: 10px;
    font-size: 35px;
    font-weight: 700;
}

/* Navigation bar styles */
.navbar {
    height: 80px;
    font-size: large;
}

.navbar-brand {
    font-size: larger;
}

.nav-item a:hover {
    background-color: #b1b1b1;
}

/* Hero section  */

.hero-banner {
    background: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}

/* Skills section  */

.myskill {
    border: none;
}

.myskill img {
    max-width: 12rem;
    border: solid #FF914D 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Work section */

.work-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* About me section */

.mypic {
    border: solid;
    box-shadow: 0px 5px 5px 0px #585858;
}

.myinfo {
    text-decoration: none;
    font-weight: 600;
    color: #171716;
}

/* Footer */

footer {
    background-color: #b1b1b1;
    padding: 10px;
}

.social a {
    font-size: 2rem;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FF914D;
    color: #FFDE59;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social a:hover {
    color: rgba(112, 36, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

footer div p {
    font-size: 14px;
}